
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/CustomContent/HomeStyleSheet.css" rel="stylesheet" />

<div class="jumbotron">
    <h2>My Home Page</h2>
</div>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
